.home{
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    box-shadow: inset 0px -40px 40px #000000;
}
.home__text{
    font-size: 2.25rem;
}
.home__name{
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
}
@media (max-width: 960px){
    
.home{
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    box-shadow: inset 0px -40px 40px #000000;
}
.home__text,
.home__name{
    display: flex;
    justify-content: center;
}

}
