.home{
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    box-shadow: inset 0px -40px 40px #000000;
}
.home__text{
    font-size: 2.25rem;
}
.home__name{
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
}
h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
@media (max-width: 960px){
    
.home{
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    
}
.home__text,
.home__name{
    display: flex;
    align-items: center;
    align-self: center;
    place-content: center;
    justify-content: center;
}
}
@media (max-width: 640px) {
    .home {
        display: flex;
        flex-direction: column;
        }
    .home__text{
        display: flex;
        place-content: center;
        font-size: 1.70rem;
    }
    .home__name {
        display: flex;
        align-items: center;
        align-self: center;
        place-content: center;
        font-size: 3.50rem;
        }
}
